{% extends 'base.html' %}
{% block content %}
{{block.super}}
<div class="col-md-6 text-center ">
        <div >
             <h3>categories</h3>
        </div>
        {% for category in categories %}
          <div class="">
              <p><a  href="/category/{{category.id}}">{{category.image_category}}</a></p>
          </div>
        {% endfor %}
      </div>
  
      <div class="col-md-6 text-center">
          <div >
             <h3>locations</h3>
          </div>
        {% for location in locations%}
          <div >
              <p><a href="/location/{{location.id}}">{{location.image_location}}</a></p>
          </div>
        {% endfor %}
{% endblock%}