<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <a class="" href="{% url 'index' %}">Home</a>
  </div>
  <form class="navbar-form" role="search" action="{% url 'search_results' %}">

      <div class="input-group">
        <input type="text" class="form-control" placeholder="Search Category" name="article">
        <div class="input-group-btn">
          <button class="btn btn-warning" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>

    </form>

</nav>
</body>
</html>