{%extends 'base.html'%} 
{% block content %}
<div class="container">

  <div class="row">
    {% if images%}
      <h2>Found {{ images|length }} of searched term {{message}}</h2>
    {% else %}
      <h2> Found no matching items</h2>
    {% endif %}
    </div>

    <div class="row">

            {% if images %}
              {% for image in images %}
                <div class="">
                    <h1>{{image.title}}</h1>
                </div>
              {% endfor %}
            {% endif %}
            </div>
          </div>
          {% endblock %}